<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/public/css/comm.css">
	<link rel="stylesheet" type="text/css" href="/public/css/home1.css">
</head>
<body>

	<nav>
		<section id="logo">Lolita`s</section>
		<ul id="menu" enable="false">
			<li class="menucurr"><a href="javascript:void(0)">Technology</a></li>
			<li><a href="javascript:void(0)">Life`s record</a></li>
			<li><a href="javascript:void(0)">Somniloquy</a></li>
			<li><a href="javascript:void(0)">Love & Peace</a></li>
		</ul>
		<section id="folder">
			<a href="javascript:void(0)" id="e-folder">folder</a>
		</section>
	</nav>

	<div id="main">
		<div id="title">
			
		</div>
	</div>


	<script type="text/javascript" src="/third-part/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/public/scripts/home.js"></script>
</body>
</html>