<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/public/css/comm.css">
	<link rel="stylesheet" type="text/css" href="/public/css/home1.css">
</head>
<body>
	<nav>
		<section id="logo">Lolita`s</section>
		<ul id="menu" enable="false">
			<li class="menucurr"><a href="javascript:void(0)">Technology</a></li>
			<li><a href="javascript:void(0)">Life`s record</a></li>
			<li><a href="javascript:void(0)">Somniloquy</a></li>
			<li><a href="javascript:void(0)">Love & Peace</a></li>
		</ul>
		<section id="folder">
			<a href="javascript:void(0)" id="e-folder">folder</a>
		</section>
	</nav>

	<div id="main">
		<div id="content">
		
			<div class="record">
				<div class="recordInfo">
					<div class="time">03, 19, 2015</div>
					<div class="comment">没有评论</div>
					<div class="tags">
						
					</div>
 				</div>
 				<div class="article">
 					<div class="title"><a href="/newPaper">弱势的声音</a></div>
 					<div class="text">
 						<p>我从未因为自己声音的弱小而不敢发声，也从未因为自己不够强大就选择弱小。</p>
 						<p>我相信的事情仅仅只是努力会有结果。也正是这样让我知道自己的绝望。</p>
 						<code>function map(hashMap){}</code>
 					</div>
 				</div>
 				<div class="clear"></div>
			</div>	

			<div class="record">
				<div class="recordInfo">
					<div class="time">03, 19, 2015</div>
					<div class="comment">没有评论</div>
					<div class="tags">
						
					</div>
 				</div>
 				<div class="article">
 					<div class="title"><a href="/newPaper">弱势的声音</a></div>
 					<!-- <img class="picture" src="/resource/picture/top-bg.jpg"></img> -->
 					<div class="text">
 						文章，1984年6月26日出生于陕西省西安市，中国内地男演员、导演。2006年毕业于中央戏剧学院表演系。
2004年参演电视剧《与青春有关的日子》，开始在影视圈崭露头角[1]  。2005年拍摄古装剧《锦衣卫》。2007年主演赵宝刚导演的青春剧《奋斗》；[2]  同年，主演首部电影《走着瞧》。2008年主演滕华涛执导的电视剧《蜗居》，饰演80后城市青年小贝。[1]  2009年，在电影《海洋天堂》中扮演自闭症患者王大福；同年参演抗战题材的电视剧《雪豹》
 					</div>
 				</div>
 				<div class="clear"></div>
			</div>	


			<div class="record">
				<div class="recordInfo">
					<div class="time">03, 19, 2015</div>
					<div class="comment">没有评论</div>
					<div class="tags">
						
					</div>
 				</div>
 				<div class="article">
 					<div class="title"><a href="/newPaper">弱势的声音</a></div>
 					<!-- <img class="picture" src="/resource/picture/top-bg.jpg"></img> -->
 					<div class="text">
 						文章，1984年6月26日出生于陕西省西安市，中国内地男演员、导演。2006年毕业于中央戏剧学院表演系。
2004年参演电视剧《与青春有关的日子》，开始在影视圈崭露头角[1]  。2005年拍摄古装剧《锦衣卫》。2007年主演赵宝刚导演的青春剧《奋斗》；[2]  同年，主演首部电影《走着瞧》。2008年主演滕华涛执导的电视剧《蜗居》，饰演80后城市青年小贝。[1]  2009年，在电影《海洋天堂》中扮演自闭症患者王大福；同年参演抗战题材的电视剧《雪豹》
 					</div>
 				</div>
 				<div class="clear"></div>
			</div>	

			<div class="record">
				<div class="recordInfo">
					<div class="time">03, 19, 2015</div>
					<div class="comment">没有评论</div>
					<div class="tags">
						
					</div>
 				</div>
 				<div class="article">
 					<div class="title"><a href="/newPaper">弱势的声音</a></div>
 					<!-- <img class="picture" src="/resource/picture/top-bg.jpg"></img> -->
 					<div class="text">
 						<p>这不是件容易的事，我们彼此都没感觉。</p>
 						<p>让她静静地来，让我静静地走。</p>
 						<p>而如今年复一年不我能停止改变。</p>
 					</div>
 				</div>
 				<div class="clear"></div>
			</div>	

		</div>


		<aside id="addinfo">
			<div id="icon">
				<img src="/resource/picture/nav-bg.jpg">
			</div>	
			<div id="owner">
				情侣南路
			</div>
			<div id="sign">
				如果人类是群居动物的话，
				那么我算什么。
			</div>
			<div id="hotest">
				<ol>
					<li class="hotrecord"><a href="javascript:void(0)">第一次看演唱会.</a></li>
					<li class="hotrecord"><a href="javascript:void(0)">第一次看她小憩.</a></li>
					<li class="hotrecord"><a href="javascript:void(0)">第一次看说我爱你.</a></li>
					<li class="hotrecord"><a href="javascript:void(0)">第一次看失去你.</a></li>
				</ol>						

			</div>
		</aside>

		<div class="clear"></div>
	</div>

	<footer id="footer">
		
	</footer>


	<script type="text/javascript" src="/third-part/jquery/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/public/scripts/home.js"></script>
</body>
</html>